@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Gordita-reg","Open Sans","sans serif";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.3;
}

@font-face {
  font-family: 'Gordita-reg';
  src: url("https://cdn.shopify.com/s/files/1/0018/0210/8985/files/gordita-regular-webfont.woff2?v=1586459720") format("woff2");
}

@font-face {
  font-family: 'Gordita-bold';
  src: url("https://cdn.shopify.com/s/files/1/0018/0210/8985/files/gordita-bold-webfont.woff2?v=1586459720") format("woff2");
}

b {
  font-size: inherit;
}

@media screen and (min-width: 1055px) {
  h1 {
    font-size: 4.5rem;
    color: #027b84;
  }
  h2 {
    color: #027b84;
    font-size: 2.5rem;
  }
  h4, p {
    font-size: 2rem;
  }
  h4 {
    display: inline;
    font-weight: bold;
  }
  li {
    font-size: inherit;
  }
  li {
    padding-left: 1rem;
    line-height: 2;
  }
  img {
    width: 100%;
    height: auto;
  }
  .front-cover {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    color: black;
  }
  .front-cover img {
    width: 100%;
    height: auto;
  }
  .front-cover .intro {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem 0 0 10vw;
    margin-bottom: -7rem;
    width: 100%;
  }
  .front-cover .intro img {
    height: 30rem;
    width: auto;
  }
  .front-cover .intro #text {
    padding: 10rem 0rem 0rem 0rem;
    width: 100%;
  }
  .our-story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0rem 7rem 1rem 10vw;
  }
  .our-story #text-zone1 {
    width: 75%;
  }
  .team {
    text-align: left;
    padding: 6rem 10vw;
  }
  .about-employees {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0rem 1rem;
    text-align: center;
  }
  .about-employees #person {
    width: 25%;
    min-width: 27rem;
    padding: 3rem 0rem;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .about-employees #person:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .about-employees a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  .about-employees img {
    width: 13rem;
  }
  .about-employees h3 {
    color: #363636;
    font-size: 2rem;
    padding: 1.5rem 0 0.5rem 0;
  }
  .about-employees h4 {
    color: #027b84;
    font-size: 1.4rem;
  }
  .careers-container {
    width: 100%;
    padding: 4rem 10vw;
  }
  .careers-container .careers {
    padding: 3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .careers-container .careers h4 {
    font-size: 2rem;
  }
  .careers-container .careers p {
    font-size: 1.5rem;
    color: #777777;
    padding-bottom: 1rem;
  }
  .careers-container .careers a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #ff9918;
  }
  .careers-container .careers #job {
    -webkit-box-shadow: 0 0.15rem 0.2rem rgba(26, 82, 126, 0.2);
            box-shadow: 0 0.15rem 0.2rem rgba(26, 82, 126, 0.2);
    border-radius: 0.5rem;
    border: .05rem solid #eaeaea;
    padding: 3rem 2rem;
    margin: 0.2rem;
    width: 50rem;
  }
  .featured-in {
    padding: 5rem 10vw;
  }
  .featured-in #details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    min-height: 40rem;
  }
  .featured-in #details-container #details {
    color: black;
    width: 50%;
    padding-right: 4rem;
  }
  .featured-in #details-container #details #prefix {
    font-size: inherit;
    color: black;
  }
  .featured-in #details-container #details a {
    font-size: inherit;
    color: inherit;
  }
  .featured-in #details-container #details img {
    width: 20rem;
  }
  .featured-in #details-container #embed {
    height: auto;
    width: 50%;
  }
  .find-us {
    padding: 5rem 10vw;
  }
  .find-us #details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    min-height: 40rem;
  }
  .find-us #details-container #details {
    color: #777777;
    width: 50%;
  }
  .find-us #details-container #details #prefix {
    font-size: inherit;
    color: black;
  }
  .find-us #details-container #details a {
    font-size: inherit;
    color: inherit;
  }
  .find-us #details-container #embed {
    height: auto;
    width: 50%;
  }
}

@media screen and (min-width: 750px) and (max-width: 1054px) {
  h1 {
    font-size: 4.5rem;
    color: #027b84;
  }
  h2 {
    color: #027b84;
    font-size: 2.5rem;
  }
  h4 {
    display: inline;
    font-weight: bold;
    font-size: 1.5rem;
  }
  p {
    line-height: 1.5;
    font-size: 1.5rem;
  }
  img {
    width: 100%;
    height: auto;
  }
  .front-cover {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    color: black;
  }
  .front-cover img {
    width: 100%;
    height: auto;
  }
  .front-cover .intro {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem 0 2rem 7rem;
    margin-bottom: -4rem;
  }
  .front-cover .intro img {
    height: 26rem;
    width: auto;
    position: absolute;
    top: 6rem;
    right: 0;
  }
  .front-cover .intro #text {
    padding: 10rem 0rem 3rem 0rem;
  }
  .our-story {
    padding: 1rem 7rem 0rem 7rem;
    font-size: 1.5rem;
  }
  .our-story #text-zone1 {
    width: 75%;
  }
  .team {
    text-align: left;
    padding: 5rem 7rem 3rem 7rem;
  }
  .about-employees {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 5rem 1rem;
    text-align: center;
  }
  .about-employees #person {
    width: 25%;
    min-width: 27rem;
    padding: 3rem 0rem;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .about-employees #person:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .about-employees a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  .about-employees img {
    width: 12rem;
  }
  .about-employees h3 {
    color: #363636;
    font-size: 2rem;
    padding: 1.5rem 0 0.5rem 0;
  }
  .about-employees h4 {
    color: #027b84;
    font-size: 1.4rem;
  }
  .careers-container {
    width: 100%;
    padding: 4rem 5vw;
  }
  .careers-container .careers {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .careers-container .careers h4 {
    font-size: 2rem;
  }
  .careers-container .careers p {
    font-size: 1.5rem;
    color: #647080;
    padding-bottom: 1rem;
  }
  .careers-container .careers a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #ff9918;
  }
  .careers-container .careers #job {
    -webkit-box-shadow: 0 0.15rem 0.2rem rgba(26, 82, 126, 0.2);
            box-shadow: 0 0.15rem 0.2rem rgba(26, 82, 126, 0.2);
    border-radius: 0.5rem;
    border: .05rem solid #eaeaea;
    padding: 3rem 2rem;
    margin: 0.4vw;
    width: 40rem;
  }
  .featured-in {
    padding: 5rem 7rem;
  }
  .featured-in #details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    min-height: 40rem;
  }
  .featured-in #details-container #details {
    color: black;
    width: 50%;
    padding-right: 4rem;
  }
  .featured-in #details-container #details #prefix {
    font-size: inherit;
    color: black;
  }
  .featured-in #details-container #details a {
    font-size: inherit;
    color: inherit;
  }
  .featured-in #details-container #details img {
    width: 20rem;
  }
  .featured-in #details-container #embed {
    height: auto;
    width: 50%;
  }
  .find-us {
    padding: 5rem 7rem;
  }
  .find-us #details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    min-height: 40rem;
  }
  .find-us #details-container #details {
    color: #777777;
    width: 50%;
  }
  .find-us #details-container #details #prefix {
    font-size: inherit;
    color: black;
  }
  .find-us #details-container #details a {
    font-size: inherit;
    color: inherit;
  }
  .find-us #details-container #embed {
    height: auto;
    width: 50%;
  }
}

@media screen and (max-width: 749px), (max-device-width: 749px) {
  h1 {
    font-size: 6rem;
    color: #027b84;
  }
  h2 {
    color: #027b84;
    font-size: 4rem;
  }
  h4 {
    display: inline;
    font-weight: bold;
    font-size: 2rem;
  }
  p {
    line-height: 1.5;
    font-size: 2rem;
  }
  img {
    width: 100%;
    height: auto;
  }
  .front-cover {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    color: black;
    overflow: hidden;
  }
  .front-cover img {
    width: 100%;
    height: auto;
  }
  .front-cover .intro {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem 3rem 0rem 3rem;
  }
  .front-cover .intro img {
    height: 20rem;
    width: auto;
    position: absolute;
    top: 6rem;
    right: 0;
  }
  .front-cover .intro #text {
    padding: 10rem 0rem 0rem 0rem;
    width: 100%;
  }
  .our-story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10rem 3rem 3rem 3rem;
  }
  .our-story #pic {
    display: none;
  }
  .our-story #text-zone1 {
    padding: 0;
    width: 100%;
  }
  .team {
    text-align: left;
    padding: 10rem 3rem 3rem 3rem;
  }
  .about-employees {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 5rem 1rem;
    text-align: center;
  }
  .about-employees #person {
    width: 100%;
    padding: 7rem 0rem;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .about-employees #person:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .about-employees a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  .about-employees img {
    width: 15rem;
  }
  .about-employees h3 {
    color: #363636;
    font-size: 3rem;
    padding: 1.5rem 0 0.5rem 0;
  }
  .about-employees h4 {
    color: #027b84;
    font-size: 2rem;
  }
  .careers-container {
    width: 100%;
    padding: 10rem 3rem;
  }
  .careers-container .careers {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .careers-container .careers h4 {
    font-size: 3rem;
  }
  .careers-container .careers p {
    font-size: 2.5rem;
    color: #647080;
    padding-bottom: 1rem;
  }
  .careers-container .careers a {
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    -webkit-box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: #ff9918;
  }
  .careers-container .careers #job {
    -webkit-box-shadow: 0 0.15rem 0.2rem rgba(26, 82, 126, 0.2);
            box-shadow: 0 0.15rem 0.2rem rgba(26, 82, 126, 0.2);
    border-radius: 0.5rem;
    border: .05rem solid #eaeaea;
    padding: 3rem 2rem;
    margin: 2rem;
    width: 100%;
  }
  .featured-in {
    padding: 5rem 3rem;
  }
  .featured-in #details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    min-height: 40rem;
  }
  .featured-in #details-container #details {
    color: black;
    width: 100%;
    padding-bottom: 10rem;
  }
  .featured-in #details-container #details #prefix {
    font-size: inherit;
    color: black;
  }
  .featured-in #details-container #details a {
    font-size: inherit;
    color: inherit;
  }
  .featured-in #details-container #details img {
    width: 20rem;
    padding-bottom: 2rem;
  }
  .featured-in #details-container #embed {
    height: 60rem;
    width: 100%;
  }
  .find-us {
    padding: 5rem 3rem;
  }
  .find-us #details-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    min-height: 40rem;
  }
  .find-us #details-container #details {
    color: #777777;
    width: 100%;
  }
  .find-us #details-container #details #prefix {
    font-size: inherit;
    color: black;
  }
  .find-us #details-container #details a {
    font-size: inherit;
    color: inherit;
  }
  .find-us #details-container #embed {
    height: 60rem;
    width: 100%;
    padding: 5rem 0;
  }
}
/*# sourceMappingURL=about-us.css.map */