
$primarycolor: #027b84;
b, i, a {
    font-size: inherit;
}
@media screen and (min-width: 1055px) {   
    
    $footerfontsize: 1.5rem;
    
    h1 {
        font-size: 4.5rem;
        color: $primarycolor;  
        
    }
   
    h2 {
        color: $primarycolor;  
        font-size: 2.5rem;
    }
    h4, p, li{ font-size: 2rem;
        padding: 0.7rem 0;
    }    
    h4 {
        display: inline;
        font-weight: bold;
    }

    li {
        padding-left: 1rem;
        
    }


    img {
        width: 100%;
        height: auto;
      }
      .front-cover {
        position: relative;
        top:0;
        left:0;
        text-align: left;
        color: black;
        
        overflow: hidden;
        
        img {
            width: 100%;
            height: auto;
        }

        .intro {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 5rem 0 5rem 10vw;
           
          h4, p{ font-size: 2rem;}

            img{
               height: 30rem;
               width: auto;
            }
            #text {
            padding: 10rem 0rem 0rem 0rem;
            width: 100%;
            max-width: 100rem;
            }
        }  
    }

.what-is-it {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
padding: 0rem 7rem 5rem 10vw;
 
#pic {
    max-width: 40rem;
}
#text-zone1 {
    padding-left: 5rem;
    
    width: 43%;
}
}
.upcycling-details {
    text-align: left;
    padding: 1rem 10vw;
    padding-bottom: 5rem;
   
        img{
            align-self: center;
            width: 90%;
        }

        #special-covid {
            color: #ff6d18;
            padding-top: 1rem;
        }
        #footnote {
            font-size: 1.5rem;
        }
    
}


}

@media screen and (min-width: 750px) and (max-width: 1054px) {   
    $footerfontsize: 1.5rem;
    
    h1 {
        font-size: 4.5rem;
        color: $primarycolor;  
        
    }
    
    h2 {
        color: $primarycolor;  
        font-size: 2.5rem;
    }
    h4 {
        display: inline;
        font-weight: bold;
        font-size: 1.5rem;
    }
    h4, p, li{ font-size: 1.5rem;
        padding: 0.7rem 0;
    }    

    img {
        width: 100%;
        height: auto;
      }
      .front-cover {
        position: relative;
        top:0;
        left:0;
        text-align: left;
        color: black;
        
        overflow: hidden;
        
        img {
            width: 100%;
            height: auto;
        }

        .intro {
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 5rem 0 2rem 7rem;

            img{
               height: 35vw;
               width: auto;
               position: absolute;
               top:6rem;
               right: 0;
            }
            #text {
            padding: 10rem 0rem 3rem 0rem;
            width: 45rem;
            }
        }  
    }

.what-is-it {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
padding: 1rem 7rem 3rem 7rem;
 
#pic {
    max-width: 40rem;
}
#text-zone1 {
    padding-left: 3rem;
   width: 60%;
}
}
.upcycling-details {
    text-align: left;
    padding: 1rem 7rem 5rem 7rem;
   

    #mobile-pic {
        display: flex;
        flex-flow: column nowrap;
        img{
            align-self: center;
            width: 90%;
        }
    }

    #special-covid {
        color: #ff6d18;
        padding-top: 1rem;
    }
    #footnote {
        font-size: 1rem;
    }

}


}

@media screen and (max-width: 749px), (max-device-width: 749px) {
    $footerfontsize: 1.5rem;
    
    h1 {
        font-size: 6rem;
        color: $primarycolor;  
        
    }
    
    h2 {
        color: $primarycolor;  
        font-size: 4rem;
    }
    h4 {
        display: inline;
        font-weight: bold;
        font-size: 2rem;
    }
    h4, p, li{ font-size: 2rem;
        padding: 0.7rem 0;
    }    

    img {
        width: 100%;
        height: auto;
      }
      .front-cover {
        position: relative;
        top:0;
        left:0;
        text-align: left;
        color: black;
        
        overflow: hidden;
        
        img {
            width: 100%;
            height: auto;
        }

        .intro {
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 5rem 3rem 2rem 3rem;

            img{
               height: 20rem;
               width: auto;
               position: absolute;
               top:6rem;
               right: 0;
            }
            #text {
            padding: 10rem 0rem 3rem 0rem;
            width: 100%;
            z-index: 1;
            }
        }
    }

.what-is-it {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
padding: 5rem 3rem 10rem 3rem;
 
#pic {
   display: none;
}
#text-zone1 {
 padding: 0;   
 width: 100%;

}
}

.upcycling-details {
    text-align: left;
    padding: 1rem 3rem 3rem 3rem;

   

    #mobile-pic {
        display: flex;
        flex-flow: column nowrap;
        img{
            align-self: center;
            width: 90%;
        }
    }

    #special-covid {
        color: #ff6d18;
        padding-top: 1rem;
    }
    #footnote {
        font-size: 1.5rem;
    }

}

}