@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

p {
  font-family: "Gordita-reg";
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}

textarea:-moz-placeholder {
  color: #adadad;
}

textarea::-moz-placeholder {
  color: #adadad;
}

textarea:-ms-input-placeholder {
  color: #adadad;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact100-form-title {
  display: block;
  width: 100%;
  font-family: "Gordita-bold";
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 32px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 35px;
}

.rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}

.label-input100 {
  font-family: "Gordita-reg";
  font-size: 14px;
  color: #555555;
  line-height: 1.5;
}

.input100 {
  display: block;
  width: 100%;
  background: #f2f2f2;
  border-radius: 2px;
  font-family: "Gordita-reg";
  font-size: 20px;
  color: #686868;
  line-height: 1.2;
  padding: 0 28px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-top: 10px;
}

input.input100 {
  height: 62px;
}

textarea.input100 {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 13px;
}

.input100:focus {
  background: #e6e6e6;
}

.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.wrap-contact100-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  overflow: hidden;
}

.contact100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  background-color: #ff9918;
  font-family: "Gordita-bold";
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
}

.wrap-contact100-form-btn:hover .contact100-form-bgbtn {
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Gordita-reg","Open Sans","sans serif";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  letter-spacing: 0.3;
}

@font-face {
  font-family: 'Gordita-reg';
  src: url("https://cdn.shopify.com/s/files/1/0018/0210/8985/files/gordita-regular-webfont.woff2?v=1586459720") format("woff2");
}

@font-face {
  font-family: 'Gordita-bold';
  src: url("https://cdn.shopify.com/s/files/1/0018/0210/8985/files/gordita-bold-webfont.woff2?v=1586459720") format("woff2");
}

b {
  font-size: inherit;
}

@media screen and (min-width: 1055px) {
  h1 {
    font-size: 4.5rem;
    color: #027b84;
  }
  h2 {
    color: #027b84;
    font-size: 2.5rem;
  }
  h4, p, li {
    font-size: 2rem;
  }
  h4 {
    display: inline;
    font-weight: bold;
  }
  ul {
    padding-left: 2rem;
    padding-bottom: 5rem;
  }
  img {
    width: 100%;
    height: auto;
  }
  .front-cover {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    color: black;
    overflow: hidden;
  }
  .front-cover img {
    width: 100%;
    height: auto;
  }
  .front-cover .intro {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem 0 5rem 10vw;
  }
  .front-cover .intro img {
    height: 30rem;
    width: auto;
  }
  .front-cover .intro #text {
    padding: 10rem 0rem 0rem 0rem;
    width: 100%;
  }
}

@media screen and (min-width: 750px) and (max-width: 1054px) {
  h1 {
    font-size: 4.5rem;
    color: #027b84;
  }
  h2 {
    color: #027b84;
    font-size: 2.5rem;
  }
  h4 {
    display: inline;
    font-weight: bold;
    font-size: 1.5rem;
  }
  ul {
    padding-left: 2rem;
    padding-bottom: 3rem;
  }
  p, li {
    line-height: 1.5;
    font-size: 1.5rem;
  }
  img {
    width: 100%;
    height: auto;
  }
  .front-cover {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    color: black;
    overflow: hidden;
  }
  .front-cover img {
    width: 100%;
    height: auto;
  }
  .front-cover .intro {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem 0 5rem 10vw;
  }
  .front-cover .intro img {
    height: 35vw;
    width: auto;
    position: absolute;
    top: 6rem;
    right: 0;
  }
  .front-cover .intro #text {
    padding: 10rem 0rem 0rem 0rem;
    width: 45rem;
  }
}

@media screen and (max-width: 749px), (max-device-width: 749px) {
  h1 {
    font-size: 6rem;
    color: #027b84;
  }
  h2 {
    color: #027b84;
    font-size: 4rem;
  }
  h4 {
    display: inline;
    font-weight: bold;
    font-size: 2rem;
  }
  p, li {
    line-height: 1.5;
    font-size: 2rem;
  }
  ol li {
    padding-left: 1rem;
  }
  img {
    width: 100%;
    height: auto;
  }
  .front-cover {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    color: black;
    overflow: hidden;
  }
  .front-cover img {
    width: 100%;
    height: auto;
  }
  .front-cover .intro {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem 3rem 2rem 3rem;
  }
  .front-cover .intro img {
    height: 20rem;
    width: auto;
    position: absolute;
    top: 6rem;
    right: 0;
  }
  .front-cover .intro #text {
    padding: 10rem 0rem 0rem 0rem;
    width: 100%;
    z-index: 2;
  }
  .what-is-it {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 5rem 3rem 3rem 3rem;
  }
  .what-is-it #pic {
    display: none;
  }
  .what-is-it #text-zone1 {
    padding: 0;
    width: 100%;
  }
  .upcycling-details {
    text-align: left;
    padding: 5rem 3rem 10rem 3rem;
  }
  .upcycling-details #mobile-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .upcycling-details #mobile-pic img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
  .what-next {
    border-top: 1px solid #9c9c9c;
    border-bottom: 1px solid #9c9c9c;
    background-color: #f7f7f7;
    padding: 0 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .what-next div {
    width: 50%;
    text-align: center;
    padding: 2rem 0rem;
  }
  .what-next div a {
    text-decoration: none;
  }
  .what-next div a:hover p {
    color: #ff9918 !important;
  }
  .what-next div h4 {
    color: #ff9918;
    font-size: 1.5rem;
    font-family: "Gordita-bold";
  }
  .what-next div p {
    color: #3b3b3b;
    font-family: "Gordita-bold";
    font-weight: bold;
    font-size: 2.5rem;
  }
  .what-next #next {
    border-left: 1px solid #9c9c9c;
  }
}
/*# sourceMappingURL=b2b-contact.css.map */