b {
  font-size: inherit;
}

@media screen and (min-width: 1055px) {
  h1 {
    font-size: 4.5rem;
    color: #027b84;
  }
  h2 {
    color: #027b84;
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  h4, p {
    font-size: 2rem;
    padding: 0.7rem 0;
  }
  h4 {
    display: inline;
    font-weight: bold;
  }
  li {
    padding-left: 1rem;
    font-size: 2rem;
  }
  img {
    width: 100%;
    height: auto;
  }
  .front-cover {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    color: black;
    overflow: hidden;
  }
  .front-cover img {
    width: 100%;
    height: auto;
  }
  .front-cover .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem 0 5rem 10vw;
  }
  .front-cover .intro h4, .front-cover .intro p {
    font-size: 2rem;
  }
  .front-cover .intro img {
    height: 30rem;
    width: auto;
  }
  .front-cover .intro #text {
    padding: 10rem 0rem 0rem 0rem;
    width: 100%;
    max-width: 100rem;
  }
  .what-is-it {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0rem 7rem 0rem 10vw;
  }
  .what-is-it #pic {
    max-width: 40rem;
  }
  .what-is-it #text-zone1 {
    padding-left: 5rem;
    width: 60%;
  }
  .what-is-it #text-zone1 li {
    padding: 2rem 0;
  }
  .upcycling-details {
    text-align: left;
    padding: 1rem 10vw;
    padding-bottom: 8rem;
  }
  .upcycling-details img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
  .upcycling-details #special-covid {
    color: #ff6d18;
    padding-top: 1rem;
  }
  .upcycling-details #footnote {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 1054px) {
  h1 {
    font-size: 4.5rem;
    color: #027b84;
  }
  h2 {
    color: #027b84;
    font-size: 2.5rem;
  }
  h4 {
    display: inline;
    font-weight: bold;
    font-size: 1.5rem;
  }
  h4, p {
    font-size: 1.5rem;
    padding: 0.7rem 0;
  }
  li {
    font-size: 1.5rem;
    padding: 0.5rem 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  .front-cover {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    color: black;
    overflow: hidden;
  }
  .front-cover img {
    width: 100%;
    height: auto;
  }
  .front-cover .intro {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem 0 2rem 7rem;
  }
  .front-cover .intro img {
    height: 35vw;
    width: auto;
    position: absolute;
    top: 6rem;
    right: 0;
  }
  .front-cover .intro #text {
    padding: 10rem 0rem 3rem 0rem;
    width: 45rem;
  }
  .what-is-it {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 1rem 7rem 3rem 7rem;
  }
  .what-is-it #pic {
    max-width: 40rem;
  }
  .what-is-it #text-zone1 {
    padding-left: 5rem;
    width: 60%;
  }
  .what-is-it #text-zone1 li {
    padding: 1rem 0;
  }
  .upcycling-details {
    text-align: left;
    padding: 1rem 7rem 5rem 7rem;
  }
  .upcycling-details #mobile-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .upcycling-details #mobile-pic img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
  .upcycling-details #special-covid {
    color: #ff6d18;
    padding-top: 1rem;
  }
  .upcycling-details #footnote {
    font-size: 1rem;
  }
}

@media screen and (max-width: 749px), (max-device-width: 749px) {
  h1 {
    font-size: 6rem;
    color: #027b84;
  }
  h2 {
    color: #027b84;
    font-size: 4rem;
  }
  h4 {
    display: inline;
    font-weight: bold;
    font-size: 2rem;
  }
  h4, p, li {
    font-size: 2rem;
    padding: 0.7rem 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  .front-cover {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    color: black;
    overflow: hidden;
  }
  .front-cover img {
    width: 100%;
    height: auto;
  }
  .front-cover .intro {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5rem 3rem 2rem 3rem;
  }
  .front-cover .intro img {
    height: 20rem;
    width: auto;
    position: absolute;
    top: 6rem;
    right: 0;
  }
  .front-cover .intro #text {
    padding: 10rem 0rem 3rem 0rem;
    width: 100%;
    z-index: 1;
  }
  .what-is-it {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 5rem 3rem 10rem 3rem;
  }
  .what-is-it #pic {
    display: none;
  }
  .what-is-it #text-zone1 {
    padding: 0;
    width: 100%;
  }
  .upcycling-details {
    text-align: left;
    padding: 1rem 3rem 3rem 3rem;
  }
  .upcycling-details #mobile-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .upcycling-details #mobile-pic img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 90%;
  }
  .upcycling-details #special-covid {
    color: #ff6d18;
    padding-top: 1rem;
  }
  .upcycling-details #footnote {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=b2b-studentbuddy.css.map */